@using System.Globalization;
@model ViewProjectsListModel;
@{
  var sort = Model.QueryParams.Sort;
}

<form class="flex flex-wrap sm:items-center md:justify-between gap-2 sm:gap-4" data-project-list-form>
  <div class="flex items-end md:items-center gap-2">
    <label for="search">
      <span class="max-sm:hidden">Search:</span>
      <input id="search" name="search" type="text" placeholder="Enter name or code" maxlength="64" value="@(Model.QueryParams.Search)">
    </label>

    <button data-project-list-search type="button" class="px-4 py-2 inline-block rounded-sm text-teal-700 hover:bg-teal-700 focus:bg-teal-700 hover:text-white focus:text-white border border-teal-700 bg-white transition">Search</button>
  </div>

  <div class="flex items-center gap-2">
    <label for="sort">
        <span class="text-sm">A-Z</span>
        <input id="sort" name="sort" data-project-list-sort type="radio"  value="asc" checked="@(!string.IsNullOrEmpty(sort) && sort.Equals("asc"))" class="cursor-pointer">
    </label>

    <label for="sort">
        <span class="text-sm">Z-A</span>
        <input id="sort" name="sort" data-project-list-sort type="radio"  value="dsc" checked="@(!string.IsNullOrEmpty(sort) && sort.Equals("dsc"))" class="cursor-pointer">
    </label> 
  </div>

  <label for="pageNumber" class="cursor-pointer">
      <span>Page: </span>
      <select id="pageNumber" name="pageNumber" data-project-list-pagination class="cursor-pointer">
          @for(int i = 1; i <= @Model.QueryParams.TotalPages; i++) {
              if(i == @Model.QueryParams.PageNumber) {
                  <option value="@i" asp-for="PageNumber" selected>@i</option>
              } else {
                  <option value="@i" asp-for="PageNumber">@i</option>
              }
          }
      </select>
  </label>
</form>

<div class="overflow-x-auto">
  <table class="data-table mt-4">
    <thead>
      <tr class="font-bold text-gray-500">
        <th>Name</th>
        <th>Code</th>
        <th>Budget</th>
        <th>Tasks</th>
      </tr>
    </thead>

    <tbody class="mt-4">
    @if(Model.Projects.Count() == 0) {
      <tr>
        <td colspan="4" class="text-center text-sm">Hmm...there is nothing in here yet.</td>
      </tr>
    } else {
      var culture = new CultureInfo(User.FindFirst("Locale").Value);

      @foreach (var project in Model.Projects)
      {
        <tr class="mt-2">
          <td>@project.Name</td>
          <td>@project.Code</td>
          <td>@($"${project.Budget.ToString("n2", culture)}") </td>
          <td><a asp-controller="Projects" asp-action="ViewOneProject" asp-route-id="@project.Id" class="page-link">View Assignment</a></td>
        </tr>
      }
      }
    </tbody>
  </table>
</div>
